.header {
  background-color: orange;
  width: 100%;
}

.header .fa {
  color: white;
}

.header .header-contact ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding-top: 14px;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  color: white;
}

@media (min-width: 575px) {
  .header .header-social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .header-social-icons ul {
  margin-right: 10px;
}

.header .header-social-icons ul li {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  padding-top: 8px;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  color: white;
}

.main-header {
  width: 100%;
  background-color: transparent;
}

.main-header .logo {
  float: left;
}

.banner-img {
  background-image: cover;
  margin-top: -77px;
}

.car-section {
  background-image: url("/images/Home Page/background.png");
}

.car-section .heading {
  font-size: 28px;
  color: orange;
}

.car-section .description {
  font-size: 18px;
  color: orange;
}

.car-section .card {
  -webkit-box-shadow: 0 10px 25px 0 rgba(128, 128, 128, 0.2);
          box-shadow: 0 10px 25px 0 rgba(128, 128, 128, 0.2);
  border-color: none;
  border: 2px solid orange;
}

.car-section .card .card-footer {
  border-top: none;
}

.car-section .bottom {
  margin-bottom: 30px;
}

.rental-car {
  width: 100%;
  background-image: url("/images/Home Page/cta-banner.jpg");
  padding: 7rem 0 7rem 0;
  background-image: cover;
  background-repeat: no-repeat;
}

.about-us {
  max-width: 100%;
  width: 100%;
  background-image: url("/images/Home Page/about-banner.jpg");
  height: 800px;
  background-image: cover;
  background-repeat: no-repeat;
}

@media (min-width: 575px) {
  .about-us {
    height: 900px;
  }
}

.about-us .access {
  background-color: rgba(30, 43, 55, 0.8);
}

.about-us .about-service {
  background-color: white;
  height: 300px;
}

.about-us .about-online {
  background-color: orange;
  height: 300px;
}

.about-us .about-procedure {
  background-color: white;
  height: 300px;
}

